body {
    font-family: Futura;
    background-color: rgb(194, 223, 208);
    color: rgb(74, 78, 77);
}

header {
    background-color: rgb(19, 173, 135);
    color: white;
    text-align: center;
}

nav {
    text-align: center;
    background-color: rgb(141, 201, 186);
    padding: 0.75em;
}

nav > a, #donation > a, #joinUsButton > a {
    color: white;
    font-size: 1.2em;
    display: inline-table;
    text-decoration: none;
}

nav > a:hover {
    text-decoration: none;
    color: rgb(19, 173, 135);
}

h1 {
    padding: 0.3em;
}

h2 {
    padding-top: 3rem;
    padding-bottom: 1rem;
}

#carouselControls, #presentation, footer, #joinUs {
    padding: 1.5rem;
}

#instagramLink, #twitterLink, #websiteLink {
    display: inline-block;

}
